
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
.main {
    background-image: url("assets/imges/IN-en-20251229-TRIFECTA-perspective_d7edcd70-4cfd-441c-858c-c5e400ed6c2b_large.jpg");
    background-position: center center;
    height: 80vh;
    position: relative;

}

.main .box {

    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0%;
    background-color: black;
}


nav {
    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
}

nav img {
    color: red;
    width: 165px;
    position: relative;
    z-index: 10;

}

nav button {

    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel sans';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    z-index: 10;
    position: relative;




}

.hero >:first-child {
    font-weight: 900;
    font-size: 59px;
    margin: -14px;


}

.hero >:nth-child(2){
    font-weight: 900;
    font-size: 59px;
    
    
}
.hero> :nth-child(3){
    font-weight: 110;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    
}

.hero> :nth-child(4){
    font-weight: 110;
    font-size: 23px;
    margin: px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;
    
}

.hero> :nth-child(5){
    font-weight: 110;
    font-size: 23px;
    margin: px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;
    
}

.btn{
    padding: 10px 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 7px;
    border: 1px solid rgb(126, 114, 114);
    margin: 9px;
    
    
    
}

.btn-red-sm{
    padding: 10px 10px;
    font-weight: bold;
    background-color: rgb(222, 20, 20);
    color: white;
    border-radius: 7px;
    border:1px solid  rgb(222, 20, 20);
    transition: all 0.3s ease-out;
    cursor: pointer;
  
}

.vtn{
    padding: 23px 55px;
    font-weight: bold;
    background-color: rgb(214, 11, 11);
    color: rgb(248, 240, 240);
    font-size:x-large;
    border-radius: 8px;
    margin:11px;
    border:1px solid rgb(214, 11, 11);
    transition: all 0.3s ease-out;
    cursor: pointer;
   
    
    
    
}

.main input{

    padding: 25px 85px;
    font-size: 23px;
    border-radius: 8px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgb(110, 96, 96);
    color: white;
    
   
}

.separation{
    height: 11px;
    background-color: rgb(46, 42, 42);

}

.btn-red-sm:hover{
    transition: all;
    background-color: rgb(175, 13, 13)
    

}
.vtn:hover{
    
    background-color: rgb(175, 13, 13)

}

.first{
    display: flex;
    justify-content: center;
    max-width:70vw;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;


}

.secimg{
    position: relative;
    
}

.secimg img{
    width:30vw;
    position: relative;
    z-index: 10;
}


.secimg video{
    position: absolute;
    top: 72px;
    right: 24px;
    
}


.first :first-child{
    font-size: 60px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.first :nth-child(2){
    font-size:27px;
    font-family: Arial, Helvetica, sans-serif;
}

.faqbox{
    display: flex;
    justify-content: space-between;
    background-color:#2d2d2d;
    padding: 24px ;
    max-width: 60vw;
    max-width: 40vw;
    margin: 34px auto;
    cursor: pointer;
    
}
.faq{
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    


}
.faq h2{
    text-align: center;
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;


}
.faqbox svg{
    filter:invert(1)
}
.faqbox:hover{
    background-color: rgb(60, 58, 58);
}
.faqbox{
    transition: all 0.3s ease-out;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

    
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;

}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer a{
    font-size: 14px;
    color: white;

}

footer .questions{
    padding: 34px;
}
    

